.theme{
    background: none;
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-radius: 100%;
    background-image:url('pngwing.com.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.theme:hover{
    opacity:0.6;
}