main{
    height: 600px;
}
body{
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  

}
.theme{
    position: fixed;
    background: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-image:url('../img/pngwing.com.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

}
.theme:hover{
    opacity:0.6;
}
form{
    display: flex;
}
form input,.parts input{
    border: lime  1px solid;
    margin-left: 10px;
    border-radius: 20px;
    height: 30px;
}

.search,.parts input{
    cursor: pointer;
    background-color: lime;
    width: 100px;
  
    color: white;
}
.search:hover{
    opacity:0.7;
}

a{
    padding:10px;
    color:black;
    text-decoration: none;
    font-size: larger;
    font-weight:bold;

}
a:hover{
    color:rgb(199, 135, 18) !important;

}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav img{
width: 45px;
height: auto;

}
.photo{
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 30px;
}

.box img{
    height: 300px;
    
    width: 500px;
    border-radius: 30px;
}
.boxes {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: 30px;  
    row-gap: 30px;  
    margin-top: 10px;

}
.mini img{
   
    height: 100px;
    width: 100px;
    padding :0px;
}
.text{
    width: 200px;

}

.dashed {
border:dashed 2px blue;
}


.quantity {
    width: 40px;
    text-align: center;
    padding-left: 20px;
    
}
.text button{
    background: none;
    border: 1px solid lime;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-size: 30px;
}
.text button:hover{
    background-color: lime;
    cursor: pointer;
    color: white;
   
}
.text form{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
footer{
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
}
footer ul{
    font-size: 10px;
    padding: 0;
}
.social-icons{
    font-size: 20px;
}ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}